:root{ 
    /*------------
        COLORS
    ------------*/
    --info-color-head: #21333e;
    --button-color: #058283;
    --words-color-bg: #cce3de;
    --jumbo-color-bg: #111117;

    // text colors
    --primary-text-color: #ffffff;
    --secondary-text-color: #21333e;
    --third-text-color: #058283;


    /*----------------
        CONTAINERS
    ----------------*/
    --container-md: 80rem;
}

